* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header, footer {
    padding: 10px;
    background-color:#deb887;
    color: white;
}

table {
    width: 80%;
    margin: 10px auto;            
    border: 1px solid #deb887;
}

td, th {
    border: 1px solid #deb887;
    padding: 3px;
}

th {
    background-color: #deb887;
    color: white;
}

.region {
    font-weight: bold;
    color: gray;
    text-align: center;
}

.ingresos, .beneficios {            
    text-align: right;
    color: gray;            
}