{% extends 'base.html' %}

{% block titulo%}Ventas por país{% endblock %}

{% block contenido %}
    <h1>Ventas en {{region_nm}} , deglosadas por país <a class="boton" href="/">Atrás</a></h1>
    <table>
        <tr>
            <th>País</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        {% for pais,data in ventas_pais.items()%}
        <tr>
            <td class="pais">{{pais}}</td>
            <td class="ingresos">{{ data.ingresos | round(2, 'floor')}}</td>
            <td class="beneficios">{{ data.beneficios | round(2, 'floor')}}</td>

        </tr>
        {% endfor %}
    </table>
{% endblock %} 